.hero {
  background: url(../images/creative-header-slide-1.jpg) no-repeat;

  color: #ffffff;
  background-size: cover;
  width: 100%;
  display: flex;
  position: relative;

  .container{
    padding: 20% 0;
    margin: auto;

  }
}
.hero_logo{
  position: relative;
  top:35px;
  left:1.82%;
  max-width:78px;
  max-height: 48px;

  @media(max-width:600px){
    top:25px;
  }

}
.hero_logo_img {
  display: block;
  width: 100%;
  height: auto;
}

.hero_name{
  font-size: calc( (100vw - 320px)/(1920 - 320) * (200 - 24) + 24px);
  font-family: Poppins-Bold;
  line-height: 1;
}
.hero_title{
 font-family: Poppins-Regular;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (36 - 10) + 10px);
  margin: 1.56% 0;
  line-height: 1;
}

.hero_icon {
  position: absolute;
  display: block;
  width: 15px; height: 15px;
  bottom:5%;
  right: 50%;
  margin-top: -3px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg) translateY(-50%);

  @media(max-width:1000px){
    width: 10px; height: 10px;
    bottom: 4%;
  }

  @media(max-width:480px){
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;

  }

}

.hero_menu{
  position:relative;
  right: 2.60%;
  top: 50px;
  max-width: 40px;
  max-height: 30px;
  font-size: 200%;
  color: #ffffff;
  cursor: pointer;




  @media(max-width:1440px){
    top:40px;
    font-size: 180%;

  }
  @media(max-width:1200px){
    top:30px;
    font-size: 150%;
  }
  @media(max-width:800px){
    top:20px;
    font-size: 100%;
  }


}