.Lets_make{


  &_item{
    padding-left: 7.8%;
    padding-top: 7.8%;
    background: #ffffff;
    color: black;
    text-align: left;
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;

    &:nth-child(2n){
      padding-left: 0;
      padding-right: 7.8%;
      display: flex;
      flex-direction: row-reverse;
      text-align: left;


      .Lets_make_text{
        max-width: 30%;
        box-sizing: border-box;
        vertical-align: top;
        padding-left: 3%;

        @media (max-width: 1050px){
          max-width: 100%;
          padding: 0 2%;
        }

      }

      @media (max-width: 1050px) {
        flex-direction: column;
        text-align: center;
        padding-right:0;
      }

    }

    @media (max-width: 1050px) {
      flex-direction: column;
      text-align: center;
      padding-left: 0;
      padding-top: 5%;
    }

  }

  &_image{
    position: relative;
    max-width: 1144px;
    max-height: 650px;


    .image {
      position:absolute;
      left:58.9%;
      bottom:0;
      width: 14.597%;
      height: 41.692%;

    }



      .image_rotate{
        width: 100%;
        height: auto;
    }


      .rotate{
        position: absolute;
        transform: rotate(270deg);
        width: 42.22%;
        height: 14.597%;
        left:44%;
        top:24%;
        text-align: center;
        line-height: 1;
        font-family: Poppins-SemiBold;
        font-size: calc( (100vw - 320px)/(1920 - 320) * (100.45 - 27) + 27px);
        color: #ffffff;
      }


    &_decorative_square{
      width: 8.74%;
      height: 15.38%;
      position: absolute;
      background-color: #ffffff;


    }
    .square_1{
      right: 0;
      bottom: 0;
    }
    .square_2{
      right: 8.74%;
      bottom: 15.38%;

    }
    &_decorative_gradient{
      position: absolute;
      background: #adecea;
      background: -moz-linear-gradient(top, #adecea 0%, #f8d8e3 99%);
      background: -webkit-linear-gradient(top, #adecea 0%,#f8d8e3 99%);
      background: linear-gradient(to bottom, #adecea 0%,#f8d8e3 99%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adecea', endColorstr='#7db9e8',GradientType=0 );
    }
    .gradient_1{
      width: 16.6%;
      height: 16.15%;
      right: 0;
      bottom:61.538%;
    }
    .gradient_2{
      width: 8.3%;
      height: 8.46%;
      right:16.6%;
      bottom:53%;
    }
  }

  &_picture{
    display: block;
    width: 100%;
    height: auto;
  }


  &_text{
    max-width: 30%;
    box-sizing: border-box;
    vertical-align: top;

    @media (max-width: 1050px){
      max-width: 100%;
    }
  }

  &_title{
    font-family: Poppins-SemiBold;
    font-size: calc( (100vw - 320px)/(1920 - 320) * (80 - 14) + 14px);
   line-height: 1.2;

  }
  &_description{
    font-family:Poppins-Regular ;
    font-size:calc( (100vw - 320px)/(1920 - 320) * (18 - 12) + 12px);
    margin: 5% 0;

    @media (max-width: 1050px) {
     margin: 2% 0;
    }
  }

  &_description_text{
    font-family:MyriadPro-Regular ;
    font-size:calc( (100vw - 320px)/(1920 - 320) * (14 - 10) + 10px);
    color:#72787a;
    margin-bottom: 7%;


    @media (max-width: 1050px) {
      margin-bottom: 2%;
    }

  }

  .play{
    width:7.255%;
    height: 12.769%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 64.16%;
    bottom: 9.23%;
    display: flex;
    align-items: center;
    justify-content: center;

    .video_decorative_picture{
      width: 15.73%;
      height: 23.595%;
    }
  }
  .video_text{
    position: absolute;
    transform: rotate(270deg);
    width: 24.038%;
    height: 15.384%;
    left:55%;
    top:33%;
    text-align: center;
    line-height: 1;
    font-family: Poppins-SemiBold;
    font-size: calc( (100vw - 320px)/(1920 - 320) * (100.45 - 27) + 27px);
    color: #ffffff;

  }

  .video_decorative_elem_purple{
    width: 8.74%;
    height: 15.38%;
    position: absolute;
    background-color: #7443ff;
    right: 0;
    bottom: 0;
  }

  .video_decorative_image{
    position: absolute;
    width: 7.779%;
    height: 13.692%;
    right: 2.185%;
    bottom:3.846%;
    z-index: 2;

    .video_decorative_picture{
      width: 100%;
      height: auto;
    }
  }

  .video_decorative_elem_empty{
    width: 6.118%;
    height: 10.769%;
    border: 2px solid #ffffff;
    right: 10.49%;
    bottom: 18%;
    position: absolute;

  }
  .video_decorative_elem_gradient_1{
    position: absolute;
    width: 15.734%;
    height: 16.923%;
    right: 0;
    top:20.769%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #b7e9e9 0%, #f7d8e4 100%, #207cca 100%, #f7d8e4 100%, #f6d8e4 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#b7e9e9 0%,#f7d8e4 100%,#207cca 100%,#f7d8e4 100%,#f6d8e4 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#b7e9e9 0%,#f7d8e4 100%,#207cca 100%,#f7d8e4 100%,#f6d8e4 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f6d8e4',GradientType=1 ); /* IE6-9 */
  }
  .video_decorative_elem_gradient_2{
    position: absolute;
    width: 5.68%;
    height: 8.46%;
    right: 16.60%;
    top:37.692%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #b7e9e9 0%, #f7d8e4 100%, #207cca 100%, #f7d8e4 100%, #f6d8e4 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#b7e9e9 0%,#f7d8e4 100%,#207cca 100%,#f7d8e4 100%,#f6d8e4 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#b7e9e9 0%,#f7d8e4 100%,#207cca 100%,#f7d8e4 100%,#f6d8e4 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f6d8e4',GradientType=1 ); /* IE6-9 */

  }
}

