.portfolio{
  &_nav{
    padding: 6.173% 0 2.778%;
  }

  &_list{
    text-align: justify;
    max-width: 670px;
    margin: auto;
    display: block;

    @media(max-width:690px){
      display: none;
    }

    &:after{
      content: "";
      display: inline-block;
      width: 100%;
      height: 0;
    }

  }


  &_item{
    display: inline-block;
    font-size: calc( (100vw - 320px)/(1920 - 320) * (18 - 14) + 14px);
    line-height: 100px;
    font-family:MyriadPro-Regular ;
  }

  &_icon{
    display: none;
    @media(max-width:690px){
      display: block;
    }
  }

  &_link{
    color: black;

    &:hover{
      border-bottom: 2px solid #7443ff;
    }

  }
}

.active{
  font-weight: bold;
}

.portfolio_image{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.49%;



  @media(max-width:500px){
    display: block;
    margin-bottom: 0;
  }
}

.portfolio_image_wrapper{
  position: relative;
  max-width: 798px;
  max-height: 798px;


  @media(max-width:500px){
    padding: 1.49% 1.49% 0 1.49%;
  }

}

.portfolio_image_wrapper_padding{
  padding-right: 1.49%;
}

.portfolio_image_wrapper_block{
  display: block;
}

.portfolio_image_bottom{
  position: absolute;
  bottom: 0;

  @media(max-width:500px){
    position: static;
  }
}


.portfolio_image_picture{
  width: 100%;
  height: auto;
  display: block;
}

.portfolio_image_bottom_indent{
  @media(max-width:500px){
    padding-bottom: 1.49%;
  }

}
.portfolio_image_flex {

  @media(max-width: 500px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    & :nth-child(1) {
      order: 1;
    }
    & :nth-child(2) {
      order: 3;
    }
    & :nth-child(3) {
      order: 2;
    }

  }

}

.portfolio_image_half {
  @media(max-width: 500px) {
    width: 47%;
  }
}

.portfolio_view_all{
  padding: 1.68% 0 9.26%;

}

